<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="markerAttributeContributer" name="MarkerAttributeContributer" schema="schema/markerAttributeContributer.exsd"/>
   <extension-point id="objectFactory" name="ObjectFactory" schema="schema/objectFactory.exsd"/>
   <extension-point id="htmlFormatter" name="HTMLFormatter" schema="schema/htmlFormatter.exsd"/>
   <extension-point id="htmlParser" name="HTMLParser" schema="schema/htmlParser.exsd"/>
</plugin>
