<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.epf.ui.exportWizards.category"
            class="org.eclipse.epf.export.xml.wizards.ExportXMLWizard"
            icon="icons/full/obj16/XMLFile.gif"
            id="org.eclipse.epf.export.xml.wizards.ExportXMLWizard"
            name="%exportXMLWizardName">
         <description>
               %exportXMLWizardDescription
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.epf.ui.exportWizards">
      <wizard id="org.eclipse.epf.export.xml.wizards.ExportXMLWizard"/>
   </extension>

</plugin>
