<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dice.menu.tools">
         <command
               commandId="org.dice.ui.monitoringCommand"
               icon="icons/16.gif"
               label="Monitoring Tools"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dice.ui.handlers.MonitoringHandler"
            id="org.dice.ui.monitoringCommand"
            name="Monitoring Tools">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.preferences"
            class="org.dice.ui.preferences.pages.MonitoringPreferencesPage"
            id="org.dice.ui.preferences.monitoring"
            name="Monitoring Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dice.ui.preferences.MonitoringPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
