<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="dice"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="%productName">
         <property
               name="windowImages"
               value="icons/16.gif,icons/32.gif,icons/48.gif,icons/64.gif,icons/128.gif,icons/256.gif">
         </property>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="introTitle"
               value="%productIntroTitle">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro-dice.png">
         </property>
         <property
               name="introBrandingImageText"
               value="%productIntroBrandingText">
         </property>
         <property
               name="introDescription-overview"
               value="%introDescription-overview">
         </property>
         <property
               name="introDescription-tutorials"
               value="%introDescription-tutorials">
         </property>
         <property
               name="introDescription-samples"
               value="%introDescription-samples">
         </property>
         <property
               name="applicationXMI"
               value="org.dice.rcp/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.ui.themes/images/">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFF80">
         </property>
         <property
               name="startupMessageRect"
               value="5,125,570,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,145,570,15">
         </property>
         <property
               name="buildIdShow"
               value="true">
         </property>
         <property
               name="buildIdRectangle"
               value="300,105,220,40">
         </property>
         <property
               name="aboutImage"
               value="icons/120.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.dice.rcp.dice">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.dice.rcp.DiceSplashHandler"
            id="org.dice.rcp.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.dice.rcp.dice"
            splashId="org.dice.rcp.splashHandler">
      </splashHandlerProductBinding>
   </extension>
</plugin>
