<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.epf.common.htmlFormatter">
      <htmlFormatter
            class="org.eclipse.epf.common.html.DefaultHTMLFormatter"/>
   </extension>
   
   <extension
         point="org.eclipse.epf.common.htmlParser">
      <htmlParser
            class="org.eclipse.epf.common.html.DefaultHTMLParser"/>
   </extension>
</plugin>
