<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="DICE Target Platform" sequenceNumber="81">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.lip6.pnml.framework.symmetricnet.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.pthlpng.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.nupn.toolinfo.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.coremodel.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.ptnet.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.utils.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.3rdPart.feature.feature.group" version="2.2.9"/>
<unit id="fr.lip6.pnml.framework.hlpn.feature.feature.group" version="2.2.9"/>
<repository location="http://pnml.lip6.fr/pnmlframework/updatesite"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.extra.marte.properties.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.umlrt.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="1.1.3.201511250900"/>
<unit id="org.eclipse.papyrus.uml.alf.extra.feature.feature.group" version="0.7.0.201511250947"/>
<unit id="org.eclipse.papyrus.notation.feature.feature.group" version="0.7.0.201511250947"/>
<unit id="org.eclipse.papyrus.umldi.feature.feature.group" version="0.7.0.201511250947"/>
<unit id="org.eclipse.papyrus.dd.feature.feature.group" version="0.7.0.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.textedit.feature.feature.group" version="1.1.3.201511250947"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.5.0.v20150603-1058"/>
<repository location="http://download.eclipse.org/mmt/qvto/updates/releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.1.v201512180746"/>
<unit id="org.eclipse.xtend.gwt.feature.group" version="2.9.1.v201512180746"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.9.1.v201512180746"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.9.1.v201512180746"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.3.v201512160634"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.13.v201512160556"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.3.v201512160556"/>
<unit id="org.eclipse.emf.mwe.license.feature.group" version="2.6.0.v201505260456"/>
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.3.13.v201512160556"/>
<unit id="org.eclipse.emf.mwe.ui.feature.group" version="1.3.13.v201512160556"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.8.3.v201512160634"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.3rd.feature.feature.group" version="2.2.6.v20160201-0902"/>
<repository location="http://download.eclipse.org/recommenders/updates/stable"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xwt.workbench.feature.feature.group" version="1.1.0.v20150608-1518"/>
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<unit id="org.eclipse.xwt.feature.feature.group" version="1.1.0.v20150608-1518"/>
<repository location="http://download.eclipse.org/xwt/updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.0.201502101659-signed-20150525172209"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.12.0.v201406061321-7IAB-FE9JgeWjZZhMd-z0vb1ifD4"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.7.0.v201505131719"/>
<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.301.v201410160332"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.8.0.v201505112336"/>
<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.2.1.20150819-2224"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.202.v201504291921"/>
<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.2.v201501171820"/>
<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.6.0.v201410101748"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.7.1.v201509021802"/>
<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.102.v201501171820"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.1.v201409111648"/>
<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.7.1.v201508271605"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.302.v201504272154"/>
<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.2.101.v201501152048"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.6.201.v201508262249"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.7.1.v201508270443"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.401.v201508232356"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.3.1.201509020853"/>
<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.2.101.v201501141513"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.6.3.v201501141810"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.402.v201505042029"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.400.v201503102136"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.0.v201505072140"/>
<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.4.2.v201505291546"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.200.v201503102136"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.401.v201409111855"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.3.1.201509020853"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201509022125"/>
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.203.v201503151903"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.examples.feature.group" version="6.0.1.v20150908-1239"/>
<unit id="org.eclipse.ocl.master.feature.group" version="6.0.1.v20150908-1239"/>
<unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.1.0.v20150624-0903"/>
<unit id="org.eclipse.ocl.examples.unified.feature.group" version="4.0.1.v20150908-1239"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.query.feature.group" version="4.1.0.201602090916"/>
<unit id="org.eclipse.acceleo.runtime.feature.group" version="3.6.3.201602090916"/>
<unit id="org.eclipse.acceleo.ui.interpreter.ocl.feature.group" version="3.6.3.201602090916"/>
<unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.6.3.201602090916"/>
<unit id="org.eclipse.acceleo.ui.interpreter.completeocl.feature.group" version="3.6.3.201602090916"/>
<unit id="org.eclipse.acceleo.feature.group" version="3.6.3.201602090916"/>
<repository location="http://download.eclipse.org/acceleo/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.hierynomus.sshj.feature.feature.group" version="0.15.0.201602121824"/>
<unit id="es.unizar.disco.simulation.ui.feature.feature.group" version="0.1.3.201602161651"/>
<unit id="es.unizar.disco.ssh.feature.feature.group" version="0.1.3.201602161651"/>
<unit id="es.unizar.disco.simulation.quickstart.feature.feature.group" version="0.1.3.201602161651"/>
<unit id="es.unizar.dsico.ssh.ui.feature.feature.group" version="0.1.3.201602161651"/>
<unit id="es.unizar.disco.simulation.feature.feature.group" version="0.1.3.201602161651"/>
<unit id="es.unizar.disco.simulation.greatspn.feature.feature.group" version="0.1.3.201602161651"/>
<repository location="http://dice-project.github.io/DICE-Simulation/updates"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.jdt.source.feature.group" version="3.11.1.v20150904-0015"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.5.1.v20150904-0015"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.1.v20150904-0015"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.1.v20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.masdes.dam.profile.feature.group" version="0.3.0.201602121816"/>
<unit id="com.masdes.dam.profile.ui.feature.feature.group" version="0.3.0.201602121816"/>
<repository location="http://dice-project.github.io/DICE-Profiles/updates"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.middleend.xtend.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xpand.all.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xpand.support.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.backend.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.backend.xsdtypes.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.backend.sdk.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xpand.ui.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.ui.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xpand.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.backend.uml2types.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xtend.middleend.xpand.feature.group" version="2.1.0.v201505260349"/>
<repository location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.8.9"/>
<unit id="org.tigris.subversion.subclipse.feature.group" version="1.10.11"/>
<unit id="com.collabnet.subversion.merge.feature.feature.group" version="4.1.0"/>
<unit id="org.tigris.subversion.clientadapter.feature.feature.group" version="1.10.3"/>
<unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="1.1.1"/>
<unit id="net.java.dev.jna.feature.group" version="4.1.0.v06022015_1911"/>
<unit id="org.tigris.subversion.subclipse.mylyn.feature.group" version="3.0.0"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.8.12.r10533_v20160129_0158"/>
<unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.9.3"/>
<repository location="http://subclipse.tigris.org/update_1.12.x"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.atl.feature.group" version="3.6.0.v201505180909"/>
<unit id="org.eclipse.m2m.atl.profiler.feature.group" version="3.6.0.v201505180909"/>
<repository location="http://download.eclipse.org/mmt/atl/updates/releases/3.6/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>es_ES</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
