<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/01/15 08:53:04 jtham Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/epf/uma/1.0.3" 
       class = "org.eclipse.epf.xml.uma.UmaPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="uma" 
       class="org.eclipse.epf.xml.uma.util.UmaResourceFactoryImpl" />
  </extension>

</plugin>

