<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.dice.rcp.wizard.category"
            class="org.dice.quality_testing.QualityTestingNewProjectWizard"
            finalPerspective="org.dice.rcp.perspective"
            icon="icons/16.gif"
            id="org.dice.rcp.wizard.project.qualitytesting"
            name="DICE Quality Testing Project"
            project="true">
      </wizard>
   </extension>
</plugin>
