<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/epf/diagram/1.0.0/diagram.ecore" 
       class = "org.eclipse.epf.diagram.model.ModelPackage" />
  </extension>
  <extension
        point="org.eclipse.epf.library.edit.diagramManager">
     <diagramManager class="org.eclipse.epf.diagram.model.util.DiagramManager"/>
  </extension>

</plugin>

